@model IEnumerable<User>

@section Css{
    <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
}

@section Scripts{
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
}


<div class="row">
    <div class="col-md-12">
        <h1>User List</h1>
        <hr />

        <a class="btn btn-primary btn-sm" href="/admin/user/create">Create User</a>
        <hr />
        <table data-page-length="3" id="myTable" class="table table-bordered text-center align-content-center">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Email Confirmed</th>
                    <th style="width : 250px;"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr class="@(item.EmailConfirmed?"":"bg-warning")">
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.UserName</td>
                            <td>@item.Email</td>
                            <td>
                                @if (item.EmailConfirmed)
                                {
                                    <span>Onaylı</span>
                                }
                                else
                                {
                                    <span>Onaysız</span>
                                }
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="/admin/user/@item.Id" class="btn btn-primary btn-sm w-100 text-center">Edit</a>

                                    </div>

                                    <div class="col-md-6">
                                        <form asp-controller="Admin" asp-action="userDelete" asp-route-id="@item.Id" method="post">
                                            <button class="btn btn-danger btn-sm w-100 text-center" type="submit">Delete</button>

                                        </form>
                                    </div>

                                </div>

                            </td>
                        </tr>
                    }
                }
                else
                {
                    <div class="alert alert-warning">
                        <h3>No Users</h3>
                    </div>
                }
                .

            </tbody>
        </table>
    </div>

</div>