@model CategoryViewModel
    <div class="row">
        <h1 class="h3">Edit Category</h1>
        <hr />
        <div class="col-md-4">
            <form action="admin/categoryEdit" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="@Model.">Name</label>
                    <input asp-for="Name" class="form-control" value="@Model.Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Url"></label>
                    <input asp-for="Url" class="form-control" value="@Model.Name" />
                    <span asp-validation-for="Url" class="text-danger"></span>

                </div>
            </form>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
             
                    <table class="table table-bordered table-sm">
                        
                        <thead>
                            <tr>
                                <th style="width:30px;">Id</th>
                                <th style="width:100px;">Image</th>
                                <th>Name</th>
                                <th style="width:30px;">Price</th>
                                <th style="width:30px;">Onaylı</th>
                                <th style="width:200px;">Onaylı</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Products.Count > 0)
                            {
                                
                                    @for (int i = 0; i < Model.Products.Count; i++)
                                    {
                                        <div id="products">
                                            <input type="hidden" name="Products[@i].ProdcutId" value="Model.Products[@i].ProdcutId" />
                                            <input type="hidden" name="Products[@i].ImageUrl" value="Model.Products[@i].ImageUrl" />
                                            <input type="hidden" name="Products[@i].Name" value="Model.Products[@i].Name" />
                                            <input type="hidden" name="Products[@i].Price" value="Model.Products[@i].Price" />
                                            <input type="hidden" name="Products[@i].IsApproved" value="Model.Products[@i].IsApproved" />

                                        </div>
                                    }

                                
                                @foreach (var item in Model.Products)
                                {
                                    <tr>
                                        <td>@item.ProductId</td>
                                        <td><img src="~/img/@item.ImageUrl" width="80"></td>
                                        <td>@item.Name</td>
                                        <td>@item.Price</td>

                                        <td>
                                            @if (item.IsApproved)
                                            {
                                                <i class="fa-solid fa-circle-check text-success"></i>
                                            }
                                            else
                                            {
                                                <i class="fa-solid fa-circle-xmark text-danger"></i>
                                            }
                                        </td>
                                        <td>
                                            <a class="btn btn-primary" href="/admin/products/@item.ProductId">content</a>
                                            <form asp-controller="Admin" asp-action="categoryDelete" asp-route-id="@Model.CategoryId" method="post">
                                                <input type="hidden" name="productId" value="@item.ProductId" />
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </td>

                                    </tr>
                                }
                            }

                        </tbody>
                       
                    </table>
                </div>
            </div>

        </div>
    </div>


